<!DOCTYPE html>
<!--Esta es mi primera pagina HTML dinamica-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
    
    <head th:replace="~{layout/plantilla :: head}">
        <title>Esto no sale...</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}">
        </header>
        
        <p>El total de elementos es: [[${totalCategorias}]]</p>
        
        
        <section th:replace="~{categoria/fragmentos :: editarCategoria}"></section>
        

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
